/* RESET básico */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* Layout base */
.appShell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appMain {
  flex: 1;
  /* <- esto hace que el main ocupe el espacio entre header y footer */
  display: block;
}